<a href="https://colab.research.google.com/github/AbrarAli-SE/Code-a-Ai/blob/main/Lab_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: **Abrar Ali**
# SAP ID: **55843**
# lab 04

## Task 1: Create NumPy array, split into 3 arrays, then calculate sum of all arrays

In [1]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

split_arr = np.array_split(arr, 3)

total_sum = sum(np.sum(sub_arr) for sub_arr in split_arr)

print("Split arrays:", split_arr)
print("Total sum:", total_sum)

Split arrays: [array([1, 2, 3]), array([4, 5, 6]), array([7, 8, 9])]
Total sum: 45

## Task 2: Extract all numbers >5 and <15 from NumPy array

In [2]:
import numpy as np

arr = np.array([2, 6, 9, 15, 20, 13, 4, 8])

filtered = arr[(arr > 5) & (arr < 15)]

print("Filtered numbers:", filtered)

Filtered numbers: [ 6  9 13  8]

## Task 3: Set operations

In [3]:
set1 = {0, 2, 4, 6, 8, 10}
set2 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

set2_list = list(set2)
set2_list.pop(1)
set2_list.pop(4)
set2 = set(set2_list)

set3 = set1.intersection(set2)

print("Set1:", set1)
print("Modified Set2:", set2)
print("Set3 (intersection):", set3)

Set1: {0, 2, 4, 6, 8, 10}
Modified Set2: {1, 3, 4, 5, 7, 8, 9, 10}
Set3 (intersection): {8, 10, 4}

## Task 4: Dictionary of students and update semester

In [4]:
students = {
    "SAP001": {"sapid": "SAP001", "name": "Ali", "age": 20, "semester": "Six"},
    "SAP002": {"sapid": "SAP002", "name": "Sara", "age": 21, "semester": "Six"},
    "SAP003": {"sapid": "SAP003", "name": "Zain", "age": 22, "semester": "Six"},
    "SAP004": {"sapid": "SAP004", "name": "Hira", "age": 23, "semester": "Six"},
    "SAP005": {"sapid": "SAP005", "name": "Usman", "age": 24, "semester": "Six"},
}

for student in students.values():
    student["semester"] = "Seven"

print("Updated student records:")
for sapid, record in students.items():
    print(sapid, ":", record)

Updated student records:
SAP001 : {'sapid': 'SAP001', 'name': 'Ali', 'age': 20, 'semester': 'Seven'}
SAP002 : {'sapid': 'SAP002', 'name': 'Sara', 'age': 21, 'semester': 'Seven'}
SAP003 : {'sapid': 'SAP003', 'name': 'Zain', 'age': 22, 'semester': 'Seven'}
SAP004 : {'sapid': 'SAP004', 'name': 'Hira', 'age': 23, 'semester': 'Seven'}
SAP005 : {'sapid': 'SAP005', 'name': 'Usman', 'age': 24, 'semester': 'Seven'}